<h3 class="ui header">{{t "forms.i-i-s-i-n-v2-тч-реес-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.номинал
      class=(if (v-get validationModel "номинал" "isInvalid") "error")
      label=(t "forms.i-i-s-i-n-v2-тч-реес-e.номинал-caption")
      data-test-i-i-s-i-n-v2-тч-реес-e-номинал=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "номинал" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.сумма
      class=(if (v-get validationModel "сумма" "isInvalid") "error")
      label=(t "forms.i-i-s-i-n-v2-тч-реес-e.сумма-caption")
      data-test-i-i-s-i-n-v2-тч-реес-e-сумма=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "сумма" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.доляУК
      class=(if (v-get validationModel "доляУК" "isInvalid") "error")
      label=(t "forms.i-i-s-i-n-v2-тч-реес-e.доляУК-caption")
      data-test-i-i-s-i-n-v2-тч-реес-e-доляУК=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "доляУК" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.основание
      class=(if (v-get validationModel "основание" "isInvalid") "error")
      label=(t "forms.i-i-s-i-n-v2-тч-реес-e.основание-caption")
      data-test-i-i-s-i-n-v2-тч-реес-e-основание=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "основание" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-i-n-v2-тч-реес-e.типАкц-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.типАкц
      displayAttributeName="типАкции"
      autocomplete=true
      relationName="типАкц"
      projection="ТипАкцL"
      title=(t "forms.i-i-s-i-n-v2-тч-реес-e.типАкц-caption")
      readonly=readonly
      componentName="типАкцLookup"
      class=(if (v-get validationModel "типАкц" "isInvalid") "error")
      data-test-i-i-s-i-n-v2-тч-реес-e-типАкц=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "типАкц" "message")}}
  </div>
</form>
