<h3 class="ui header">{{t "forms.i-i-s-i-n-v2-инв-взн-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-i-n-v2-инв-взн-e.дата-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=readonly
      value=model.дата
      class=(if (v-get validationModel "дата" "isInvalid") "error")
      data-test-i-i-s-i-n-v2-инв-взн-e-дата=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "дата" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.сумма
      class=(if (v-get validationModel "сумма" "isInvalid") "error")
      label=(t "forms.i-i-s-i-n-v2-инв-взн-e.сумма-caption")
      data-test-i-i-s-i-n-v2-инв-взн-e-сумма=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "сумма" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-i-n-v2-инв-взн-e.подпись-caption"}}</label>
    {{flexberry-checkbox
      readonly=readonly
      value=model.подпись
      class=(if (v-get validationModel "подпись" "isInvalid") "error")
      data-test-i-i-s-i-n-v2-инв-взн-e-подпись=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "подпись" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.номер
      class=(if (v-get validationModel "номер" "isInvalid") "error")
      label=(t "forms.i-i-s-i-n-v2-инв-взн-e.номер-caption")
      data-test-i-i-s-i-n-v2-инв-взн-e-номер=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "номер" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-i-n-v2-инв-взн-e.упрОБъек-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.упрОБъек
      relationName="упрОБъек"
      projection="УпрОБъекL"
      title=(t "forms.i-i-s-i-n-v2-инв-взн-e.упрОБъек-caption")
      readonly=readonly
      componentName="упрОБъекLookup"
      class=(if (v-get validationModel "упрОБъек" "isInvalid") "error")
      data-test-i-i-s-i-n-v2-инв-взн-e-упрОБъек=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "упрОБъек" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-i-n-v2-инв-взн-e.договрИнв-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.договрИнв
      displayAttributeName="требования"
      autocomplete=true
      relationName="договрИнв"
      projection="ДоговрИнвL"
      title=(t "forms.i-i-s-i-n-v2-инв-взн-e.договрИнв-caption")
      readonly=readonly
      componentName="договрИнвLookup"
      class=(if (v-get validationModel "договрИнв" "isInvalid") "error")
      data-test-i-i-s-i-n-v2-инв-взн-e-договрИнв=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "договрИнв" "message")}}
  </div>
</form>
