<h3 class="ui header">{{t "forms.i-i-s-i-n-v2-выплат-доход-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-i-n-v2-выплат-доход-e.дата-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=readonly
      value=model.дата
      class=(if (v-get validationModel "дата" "isInvalid") "error")
      data-test-i-i-s-i-n-v2-выплат-доход-e-дата=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "дата" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.требования
      class=(if (v-get validationModel "требования" "isInvalid") "error")
      label=(t "forms.i-i-s-i-n-v2-выплат-доход-e.требования-caption")
      data-test-i-i-s-i-n-v2-выплат-доход-e-требования=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "требования" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.номер
      class=(if (v-get validationModel "номер" "isInvalid") "error")
      label=(t "forms.i-i-s-i-n-v2-выплат-доход-e.номер-caption")
      data-test-i-i-s-i-n-v2-выплат-доход-e-номер=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "номер" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-i-n-v2-выплат-доход-e.упрОБъек-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.упрОБъек
      relationName="упрОБъек"
      projection="УпрОБъекL"
      title=(t "forms.i-i-s-i-n-v2-выплат-доход-e.упрОБъек-caption")
      readonly=readonly
      componentName="упрОБъекLookup"
      class=(if (v-get validationModel "упрОБъек" "isInvalid") "error")
      data-test-i-i-s-i-n-v2-выплат-доход-e-упрОБъек=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "упрОБъек" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-i-n-v2-выплат-доход-e.сотрудн-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.сотрудн
      displayAttributeName="фИО"
      autocomplete=true
      relationName="сотрудн"
      projection="СотруднL"
      title=(t "forms.i-i-s-i-n-v2-выплат-доход-e.сотрудн-caption")
      readonly=readonly
      componentName="сотруднLookup"
      class=(if (v-get validationModel "сотрудн" "isInvalid") "error")
      data-test-i-i-s-i-n-v2-выплат-доход-e-сотрудн=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "сотрудн" "message")}}
  </div>
</form>
